<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="6e9e76d8c6a645e7b50611e0b786ab06" class="chart-container" style="width:2000px; height:800px;"></div>
    <script>
        var chart_6e9e76d8c6a645e7b50611e0b786ab06 = echarts.init(
            document.getElementById('6e9e76d8c6a645e7b50611e0b786ab06'), 'white', {renderer: 'canvas'});
        var option_6e9e76d8c6a645e7b50611e0b786ab06 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "sankey",
            "name": "risk models",
            "data": [
                {
                    "name": "increase in NAHB Housing Market Index"
                },
                {
                    "name": "increase in 3-Month Bill Auction"
                },
                {
                    "name": "increase in 6-Month Bill Auction"
                },
                {
                    "name": "increase in Crude Oil Inventories"
                },
                {
                    "name": "rise in U.S. 20-Year Bond Auction"
                },
                {
                    "name": "increase in Initial Jobless Claims"
                },
                {
                    "name": "decrease in Natural Gas Storage"
                },
                {
                    "name": "US FOMC meeting"
                },
                {
                    "name": "Confidence for a  bull market"
                },
                {
                    "name": "Confidence for a  bear market"
                },
                {
                    "name": "Decrease in monthly PCE Price index"
                },
                {
                    "name": "Decrease in monthly New Home Sales"
                },
                {
                    "name": "Decrease in CB Consumer Confidence"
                },
                {
                    "name": "Decrease in monthly Gasoline production"
                },
                {
                    "name": "Decreas in US Producer Price Index"
                },
                {
                    "name": "Increase in US Consumer Price Index"
                },
                {
                    "name": "Bearish historical data input"
                },
                {
                    "name": "Bullish historical data input"
                },
                {
                    "name": "Drop in Gold Futures"
                },
                {
                    "name": "change in data input range"
                },
                {
                    "name": "Model A"
                },
                {
                    "name": "Model C"
                },
                {
                    "name": "Model D"
                },
                {
                    "name": "Model B"
                }
            ],
            "links": [
                {
                    "source": "Confidence for a  bull market",
                    "target": "Model A",
                    "value": 80
                },
                {
                    "source": "Confidence for a  bull market",
                    "target": "Model B",
                    "value": 95
                },
                {
                    "source": "Confidence for a  bull market",
                    "target": "Model C",
                    "value": 91
                },
                {
                    "source": "Confidence for a  bull market",
                    "target": "Model D",
                    "value": 92
                },
                {
                    "source": "Confidence for a  bear market",
                    "target": "Model A",
                    "value": 20
                },
                {
                    "source": "Confidence for a  bear market",
                    "target": "Model B",
                    "value": 5
                },
                {
                    "source": "Confidence for a  bear market",
                    "target": "Model C",
                    "value": 9
                },
                {
                    "source": "Confidence for a  bear market",
                    "target": "Model D",
                    "value": 8
                },
                {
                    "source": "Model A",
                    "target": "increase in NAHB Housing Market Index",
                    "value": 10
                },
                {
                    "source": "Model A",
                    "target": "increase in 3-Month Bill Auction",
                    "value": 5
                },
                {
                    "source": "Model A",
                    "target": "increase in 6-Month Bill Auction",
                    "value": 3
                },
                {
                    "source": "Model A",
                    "target": "rise in U.S. 20-Year Bond Auction",
                    "value": 25
                },
                {
                    "source": "Model A",
                    "target": "Decrease in monthly Gasoline production",
                    "value": 30
                },
                {
                    "source": "Model A",
                    "target": "increase in NAHB Housing Market Index",
                    "value": 13
                },
                {
                    "source": "Model A",
                    "target": "Decrease in monthly PCE Price index",
                    "value": 7
                },
                {
                    "source": "Model B",
                    "target": "Drop in Gold Futures",
                    "value": 27
                },
                {
                    "source": "Model B",
                    "target": "Bullish historical data input",
                    "value": 13
                },
                {
                    "source": "Model B",
                    "target": "rise in U.S. 20-Year Bond Auction",
                    "value": 26
                },
                {
                    "source": "Model B",
                    "target": "increase in Crude Oil Inventories",
                    "value": 40
                },
                {
                    "source": "Model C",
                    "target": "change in data input range",
                    "value": 14
                },
                {
                    "source": "Model C",
                    "target": "Bearish historical data input",
                    "value": 16
                },
                {
                    "source": "Model C",
                    "target": "Increase in US Consumer Price Index",
                    "value": 8
                },
                {
                    "source": "Model C",
                    "target": "Decreas in US Producer Price Index",
                    "value": 2
                },
                {
                    "source": "Model D",
                    "target": "Decrease in CB Consumer Confidence",
                    "value": 1
                },
                {
                    "source": "Model D",
                    "target": "US FOMC meeting",
                    "value": 9
                },
                {
                    "source": "Model D",
                    "target": "rise in U.S. 20-Year Bond Auction",
                    "value": 17
                },
                {
                    "source": "Model D",
                    "target": "Increase in US Consumer Price Index",
                    "value": 25
                },
                {
                    "source": "Model D",
                    "target": "decrease in Natural Gas Storage",
                    "value": 30
                },
                {
                    "source": "Model D",
                    "target": "Decrease in monthly New Home Sales",
                    "value": 5
                }
            ],
            "left": "5%",
            "top": "10%",
            "right": "20%",
            "bottom": "5%",
            "nodeWidth": 30,
            "nodeGap": 12,
            "nodeAlign": "justify",
            "layoutIteration": 32,
            "orient": "horizontal",
            "draggable": true,
            "focusNodeAdjacency": false,
            "label": {
                "show": true,
                "position": "right",
                "margin": 8
            },
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 0.8,
                "curveness": 0.5,
                "type": "solid",
                "color": "source"
            },
            "itemStyle": {
                "borderColor": "#aaa",
                "borderWidth": 2
            }
        }
    ],
    "legend": [
        {
            "data": [
                "risk models"
            ],
            "selected": {
                "risk models": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Effects of economic events, change of coefficient",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_6e9e76d8c6a645e7b50611e0b786ab06.setOption(option_6e9e76d8c6a645e7b50611e0b786ab06);
    </script>
</body>
</html>
